In [1]:
# take a input from the user if input is integer and the number is from 6 to 20 then print otherwise not 
a=int(input("Enter a number:"))
#a=int(a)
if(type(a) is int):
    if(a>=6 and a<=20):
          print(a,type(a))
    else:
        print("number is not lie between 6 and 20")
else:
    print("not an integer type")

Enter a number:21
number is not lie between 6 and 20

In [2]:
# write a program to check the number is greater than 18 then print greater than 18 ,
#if number is from 24 to 30 then print number is greater than 24 and less than 30 
#and if number is 35 then print number is 35


n=int(input("Enter a number:"))
if(n>18):
    print("Number is greater than 18")
if(n>=24 and n<=30):
    print("Number is greater than 24 and less than 30")
if(n==35):
    print("Number is 35")

Enter a number:28
Number is greater than 18
Number is greater than 24 and less than 30

In [3]:
# print a number from 10 to 25 and stepwise is 3 and check if number is divisble by 2 print even else not 
for i in range(10,25,3):
    if(i%2==0):
        print("even number is ",i)
    else:
        print("odd number is ",i)

even number is  10
odd number is  13
even number is  16
odd number is  19
even number is  22

In [4]:
# take a input from the user and check if the index is even then print which character or element is present
i=input("enter a input:")
print(len(i))
x= len(i)
for a in range(0,x,1):
    if(a%2==0):
        print(i[a])

enter a input:Vanshika
8
V
n
h
k

In [6]:
# take a input from the user integer type and check if input is integer then form loop from 0 to that number and print all odd number 

i=int(input("enter a input:"))
print(i)
if(type(i) is int):
    for a in range(0,i):
        if(a%2!=0):
            print("Odd number is ",a)

enter a input:23
23
Odd number is  1
Odd number is  3
Odd number is  5
Odd number is  7
Odd number is  9
Odd number is  11
Odd number is  13
Odd number is  15
Odd number is  17
Odd number is  19
Odd number is  21

In [ ]:
# make a loop from 1 to 100 and find prime numbers 
for rows in range(2,100):
    if rows>1:
        for

In [7]:
# print inverted half triangle
for rows in range(0,5):
    for columns in range(4,rows,-1):
        print("*",end=" ")
    print()

* * * *
* * *
* *
*

In [8]:
 """print 1
          12
          123
          1234  """ 
for rows in range(1,5):
    #print("#")
    for columns in range(1,rows+1):
        print(columns,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4

In [9]:
#print inverted numbers
"""
4321
 321
  21
   1
   
"""
for row in range(4,0,-1):
    for i in range(4,row,-1):
        print(" ",end="")
    for column in range(row,0,-1):
        print(column,end="")
    print()

4321
 321
  21
   1

In [11]:
""" print 
1
2 3
4 5 6
7 8 9 10 
"""
n=1
for rows in range(1,5):
    for columns in range(1,rows+1):
        print(n,end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10